@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #222831;
  --footer-text-color: #ffffff;
}

html,
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  color: var(--text-color);
  position: relative;
  display: flex;
  flex: 1;
  background-color: #ffffff;
  min-height: 100vh;
  margin-bottom: 50px;
  height: 100vh;
}

header {
  color: var(--text-color);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 8px;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

footer {
  color: var(--footer-text-color);
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: auto;
}

@keyframes scale-up {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.point-animation {
  animation: scale-up 0.5s ease-in-out infinite alternate;
}
