@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-background-color: #171717;
  --text-color: #ffffff;
  --footer-text-color: #ffffff;
}

html {
  height: 100%;
}

body {
  color: var(--text-color);
  background-color: var(--main-background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  width: 100%;
}

footer {
  flex-shrink: 0;
  color: var(--footer-text-color);
  padding: 20px;
}

@keyframes scale-up {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.point-animation {
  animation: scale-up 0.5s ease-in-out infinite alternate;
  transform-origin: center;
}

@keyframes dots {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.loading-text::after {
  animation: dots 1.5s infinite;
  content: '...';
}

.shadow-custom {
  box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1),
    0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.blur {
  filter: blur(5px);
}

.image-item {
  transition: transform 0.3s ease; /* border-radius에 대한 transition 포함 */
}

.image-item:hover {
  transform: scale(1.3);
  border-radius: 1rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  filter: brightness(1.1);
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  20% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.animate-slide-up {
  animation: slide-up 2s ease-in-out;
}
